data-archive/
*.sif
plots*/
backup/
graphs_analysis/
.venv/
__pycache__/
*.tar.gz
*.json
*.pkl
*.csv
.VS*/
results*/
.VSCodeCounter/
*.tar
*.pdf


*.bbl
*.blg
*.log
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz